<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".config" #>
<#@ assembly name="System.Core.dll" #>
<#@ assembly name="System.Xml.dll" #>
<#@ assembly name="System.Xml.Linq.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Xml.Linq" #>
<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <system.serviceModel>
    <client>
	<endpoint address="https://<#= GetNamespace() #>.servicebus.windows.net/rest"
                  binding="webHttpRelayBinding" 
				  contract="FormatService.IFormatService"
                  behaviorConfiguration="SharedSecret" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SharedSecret">
          <transportClientEndpointBehavior credentialType="SharedSecret">
            <clientCredentials>
              <sharedSecret issuerName="<#= GetIdentityName() #>"
                            issuerSecret="<#= GetSecretKey() #>"/>
            </clientCredentials>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

</configuration>
<#+ 
	private XDocument _connectionDetails;
	private XDocument ConnectionDetails
	{
		get
		{ 
			if (_connectionDetails == null)
				{
					_connectionDetails = XDocument.Load(this.Host.ResolvePath(@"..\AzureConnectionDetails.xml"));
                }
				return _connectionDetails;
        }        
    }

	private string GetNamespace()
	{
		return ConnectionDetails.Descendants("azure").First().Attribute("namespace").Value;
	}

	private string GetIdentityName()
	{
		return ConnectionDetails.Descendants("webHttpClient").First().Attribute("identityName").Value;
	}

	private string GetSecretKey()
	{
	    return ConnectionDetails.Descendants("webHttpClient").First().Attribute("password").Value;
	}
#>